<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Module 2</title>
  </head>
  <body>
    <h1>To Buy</h1>

    <!-- Preconfigured List -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <div ng-if="list.items.length==0">
      "Everything is bought!"
      </div>
      <ol>
        <li ng-repeat="item in list.items" ng-if="list.items.length>0">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list.boughtItem(item.name,item.quantity,$index);">Bought</button>
        </li>
      </ol>
    </div>


    <h1>Already Bought</h1>
    <div id="list" ng-controller='BoughtListController as list2'>
      <h3>List Bought</h3>
      <div ng-if="list2.items.length==0">
      "Nothing bought yet"
      </div>

    <ol>
      <li ng-repeat="item in list2.items" ng-if="list2.items.length>0">
        {{ item.quantity }} of {{ item.name }}
        <button ng-click="list2.NoBuy(item.name,item.quantity,$index);">not  buy</button>
      </li>
    </ol>

  </div>

  </body>
</html>
